.banners {
    background-color: black;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banners img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.8;
    
}
.banners-title {
    text-align: center;
    padding: 2rem ;
    position: absolute;
    color: white
}
.banners-title h1 {
    font-size: 60px;
}


@media screen and (min-width: 322px) and (max-width: 580px) {
    .banners {
        padding: 2rem 0.75rem 2rem 0.75rem;
    }
    .banners img{
        height: 250px;
    }
        .banners-title h1 {
        font-size: 22px;
    }
}
@media screen and (min-width: 100px) and (max-width: 321px) {
    .banners {
         padding: 2rem 0.75rem 2rem 0.75rem;
    }
    .banners img{
        height: 200px;
    }
    .banners-title h1 {
        font-size: 18px;
    }
}